body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

div {
    /* border: 3px solid black; */
    height: 200px;
    width: 400px;
    background-color: aquamarine;
    /* margin: 50px; */
}

li {
    list-style: none;
    padding-left: 15px;
    padding-top: 10px;
}